body {
  padding-top: 54px;
}

.jumbotron-fluid {
  background: url("../img/caroline-ingebrigtsen-70953-unsplash.jpg") no-repeat center;
  max-width: 100%;
  text-align: center;
  color: white;
  height: 300px;
  background-size: cover;
  font-family: "Courier New"
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.mr-3{
  max-width: 25%;
  max-height: 25%;
}

.mr-4{
  max-width: 50%;
  max-height: 50%;
  display: block;
  padding: 25px;
  margin-left: 25%;

}

.btn{
  margin-top: 10px;
  margin-bottom: 10px;
}

.specific-product{
  text-align: center;
}

.label{
  font-weight: bold;
}

.cart{
  text-align: center;
  margin-left: 46%;
}

.product-image{
  max-width: 50%;
  max-height: 50%;
  text-align: center;
  margin-left: 25%;
}