<!DOCTYPE html>
<html>



<head>
    <% include ../static/partials/head.ejs %>
</head>
<body>
    <% include ../static/partials/navbar.ejs %>
   
<main class="container">
    <div class="row">
        <div class="col-12">
            <h1>Your Cart</h1>
            <form style="display:initial" action="/cart/remove" method="post">
                <button type="submit" class="btn btn-secondary empty">Empty Cart</button>
            </form>
        <% if (typeof cart !== null) { %>
            <table>
                    <thead>
                        <tr>
                            <th width="200">Product</th>
                            <th width="200">Description</th>
                            <th width="200">Quantity</th>
                            <th width="200">Total</th>
                            <th width="100"></th>
                        <!-- </tr> -->
                    </thead>
                    <tbody>
                        <td><%= cart.dataValues.title %></td>
                        <td><%= cart.dataValues.description %></td>
                        <td><%= cart.dataValues.qty %></td>
                        <td><%= cart.dataValues.price %></td>
                    </tbody>
            </table>
        <% } else { %>
            <p> There are no items in your cart</p>
        <% } %>
            
        </div>
    </div>

</main>

<% include ../static/partials/baseScripts.ejs %>

</body>
</html>